.crawler-onboarding .euiButtonEmpty.crawlerPrependButton {
  min-width: 6rem;
  /* This removes the amsterdam border radius for the appended buttons */
  /* this rule should be removed after updating EUI to the latest version */
  border-radius: 0;
}

.crawler-onboarding__panel {
  overflow: hidden;
  padding-bottom: 4rem;
  background-image: url('./images/bg-crawler-onboarding.png');
  background-size: 45%;
  background-repeat: no-repeat;
  background-position: right -2rem;
}

.crawler-onboarding__inner {
  width: 50rem;
  padding: 2rem;
}

.crawler-onboarding__heading > * {
  margin: 0;
}